<h2>{{jobsCtrl.selectedJobObject.title}}</h2>
<p class="content-meta">Created by {{jobsCtrl.selectedJobObject.user.first_name}} {{jobsCtrl.selectedJobObject.user.last_name}} on {{jobsCtrl.selectedJobObject.created_at.substring(0,10)}}</p>
<p>{{jobsCtrl.selectedJobObject.body}}</p>


<h3>Comments</h3>

<div id="list-comments">
  <comments-list></comments-list>
  <%#= render partial: "/comments/comments" %>
</div>

<h3>Add a comment</h3>

<% if current_user %>
  <%= simple_form_for @comment, remote: true do |f| %>
    <%= f.input :title %>
    <%= f.input :body, label: "Comment" %>
    <%= f.input "job_id", as: :hidden, input_html: {class: "hidden-field"} %>
    <%= f.submit "Submit Comment!", class: "button-submit"%>
  <% end %>
<% else %>
  Please sign in to add a comment.
<% end %>