<!DOCTYPE html>
<html ng-app="Barterist">
<head>
  <title>The Barterist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= link_to "Jobs", jobs_path %>
  |
  <% if current_user %>
    Hello <%= name_display %> | <%= link_to "Log out", logout_path %>
  <% else %>
  <%= link_to "Register", signup_path %> | <%= link_to "Log in", login_path %>
  <% end %>
</div>

<div class="container">
  <p>
    <%= flash[:notice] || flash[:alert] %>
  <p>
  <%= yield %>
</div>

</body>
</html>
